
@model List<MovieTheater1.Models.THONGTINCHIEU>

@using System.Web.UI.WebControls
@using MovieTheater1.Models

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
		crossorigin="anonymous">
</script>
<script src="~/Content/selectFilter.min.js"></script>


<table cellpadding="10" style="width: 100%">


	<tr>
		<td colspan="2" align="center">


			<select id="tenPhim" data-target="secondList" class="firstList selectFilter form-control" onchange="SelectItem()">
				<option value="-1">- Chọn phim -</option>

				@foreach (var phim in DataAccess.GetPhims())
				{
					<option data-ref="@phim.MAPHIM" value="@phim.MAPHIM"> @phim.TENPHIM </option>
				}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<select id="tenRap" data-target="thirdList" class="secondList selectFilter form-control" onchange="SelectItem()">
				<option value="-1">- Chọn rạp -</option>

				@{
					List<string> usedValues = new List<string>();
					foreach (var thongtinchieu in Model)
					{
						if (!usedValues.Contains(thongtinchieu.MARAP + thongtinchieu.MAPHIM))
						{
							<option data-ref="@thongtinchieu.MAPHIM @thongtinchieu.MARAP" data-belong="@thongtinchieu.MAPHIM" value="@thongtinchieu.PHONG.RAPCHIEUPHIM.MARAP">@thongtinchieu.PHONG.RAPCHIEUPHIM.TENRAP </option>
							usedValues.Add(thongtinchieu.MARAP + thongtinchieu.MAPHIM);
						}
					}

				}
			</select>

		</td>
	</tr>
	<tr>

		<td colspan="2">
			<select id="ngayChieu" data-target="forthList" class="thirdList selectFilter form-control" onchange="SelectItem()">

				<option value="-1"> - Chọn ngày -</option>
				@{
					List<string> days = new List<string>();
					foreach (var thongtinchieu in Model)
					{
						if (!days.Contains(thongtinchieu.NGAYCHIEU + thongtinchieu.MAPHIM + thongtinchieu.MARAP))
						{
							<option data-ref="@thongtinchieu.MAPHIM @thongtinchieu.MARAP @thongtinchieu.NGAYCHIEU" data-belong="@thongtinchieu.MAPHIM @thongtinchieu.MARAP" value="@thongtinchieu.NGAYCHIEU">@thongtinchieu.NGAYCHIEU.ToString().Substring(0, 9)</option>
							days.Add(thongtinchieu.NGAYCHIEU + thongtinchieu.MAPHIM + thongtinchieu.MARAP);
						}
					}

				}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<select id="suatChieu" data-target="" class="forthList selectFilter form-control" onchange="SelectItem()">
				<option value="-1">- Chọn suất chiếu -</option>
				@{
					foreach (var thongtinchieu in Model)
					{

						<option data-ref="@thongtinchieu.MAPHIM @thongtinchieu.MARAP" data-belong="@thongtinchieu.MAPHIM @thongtinchieu.MARAP @thongtinchieu.NGAYCHIEU" value="@thongtinchieu.THOIGIANCHIEU">@thongtinchieu.THOIGIANCHIEU</option>

					}
				}
			</select>
		</td>
	</tr>
	<tr>
		<td style="">
		</td>
		<td align="right">


			@using (Html.BeginForm("Update_DatVeNhanh", "QKTCinema"))
			{

				<input id="txtTenPhim" name="tenPhim" type="hidden" />
				<input id="txtTenRap" name="tenRap" type="hidden" />
				<input id="txtNgayChieu" name="ngayChieu" type="hidden" />
				<input id="txtSuatChieu" name="suatChieu" type="hidden" />

				<button class="btn " style="background: #b0e0e6" type="submit">MUA VÉ</button>
			}


		</td>
	</tr>
</table>




<script>
	function SelectItem() {

		document.getElementById("txtTenPhim").value = document.getElementById("tenPhim").value;
		document.getElementById("txtTenRap").value = document.getElementById("tenRap").value;
		document.getElementById("txtNgayChieu").value = document.getElementById("ngayChieu").value;
		document.getElementById("txtSuatChieu").value = document.getElementById("suatChieu").value;
@{
	usedValues.Clear();
	days.Clear();
	ttcs.Clear();
}
	}



</script>

