@using MovieTheater1.Models
@model List<PHIM>

@foreach (var item in Model)
{
	<div class="col-md-4 col-sm-4 col-6" style="padding: 3% 2.5% 1% 2.5%;">
		<a href="@Url.Action("ChiTiet", "QKTCinema", new {id = @item.MAPHIM})">
			<div class="container-for-overlay">
				<img class="image w-100 " src="@Url.Content("~/Content/Images/450x300/" + item.ANHDAIDIEN + "_450300.jpg")" img/>
				<div class="middle d-flex justify-content-center align-items-center">
					<a href=@Url.Action("ChiTiet", "QKTCinema", new {id = @item.MAPHIM}) class="btn btn-datve"><span class="glyphicon glyphicon-eye-open"></span> Mua vé</a>

				</div>
			</div>
		</a>
		
		<div class="d-md-none">
			<div class=" text-uppercase  font-weight-bold " style="font-size: 0.7em;"> @item.TENPHIM</div>
			<div class="text-uppercase " style="font-size: 0.7em;"> @item.TENTIENGANH </div>
		</div>

		<div class="d-none d-md-block">
			<div class=" text-uppercase  font-weight-bold "> @item.TENPHIM</div>
			<div class="text-uppercase "> @item.TENTIENGANH </div>
		</div>
	</div>
}