@using System.Linq
@using MovieTheater1.Models
@model MovieTheater1.Models.PHIM

@{
	ViewBag.Title = Model.TENPHIM;
	Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<body>

<div class="row">
	<div class="col-md-6 col-sm-6 col-12">
		<div class="row ">
			<div class="col-md-5 col-sm-5 col-8 ">
				<img src="@Url.Content("~/Content/Images/300x450xphim/" + Model.ANHDAIDIEN + ".jpg")" class="w-100 d-block pl-lg-5 pt-2 pr-lg-2 pb-2"/>
			</div>
			<div class="col-md-7 col-sm-7 col-12 pt-lg-2 ">
				<div class="detail-header"> @Model.TENPHIM</div>
				<div class="detail-header-small text-uppercase">@Model.TENTIENGANH</div>
				<div class="detail-text pt-2"> Quốc gia: @Model.QUOCGIA.TENQUOCGIA</div>
				<div class="detail-rating"> 7.9<i class="fas fa-star"></i>/10 </div>
				<div class="detail-text"><i class="far fa-clock"></i> @Model.THOILUONG </div>
				<div class="detail-text"> Thể loại: @Model.LOAIPHIM.TENLOAIPHIM</div>
				<div class="detail-text"> Đạo diễn: @Model.DAODIEN</div>
				<div class="detail-text">Diễn viên: @Model.DIENVIEN </div>
				<div class="detail-text">Ngày ra rạp: @Model.THOIGIANBD.ToString().Substring(0, 9)</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 pl-lg-5">
				<h3> Nội dung phim</h3>
				<div class="auto-folded" ng-transclude="" style="display: block;">
					@Html.Raw(@Model.MOTA)
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-12">
		<h3 class="pt-lg-2"> Trailer </h3>
		<iframe class="w-100 pl-lg-5 pr-lg-5" height="400" src="@Model.TRAILER" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
		<h3 class="pt-lg-5"> Lịch chiếu </h3>
		@{
			var lstRap = DataAccess.GetRaps();
			foreach (var rap in lstRap)
			{
				var lstTtc = DataAccess.db.THONGTINCHIEUx.Where(x => x.MARAP == rap.MARAP && x.MAPHIM == Model.MAPHIM).ToList();
				if (lstTtc.Count > 0)
				{
					<div class="col-12 cinema-header text-center"> @rap.TENRAP</div>
					List<DateTime> days = new List<DateTime>();
					foreach (var ttc in lstTtc)
					{
						if (ttc.NGAYCHIEU != null && days.Contains((DateTime)ttc.NGAYCHIEU) == false)
						{
							days.Add((DateTime)ttc.NGAYCHIEU);
						}
					}
					foreach (var day in days)
					{
						<div class="col-12 row border m-0">
							<div class="col-4 p-0 border-right">
								<div text-sub-info> @day.ToString().Substring(0, 9)</div>
							</div>
							<div class="col-8 d-flex flex-wrap">
								@foreach (var ttc in lstTtc)
								{
									if (ttc.NGAYCHIEU == day)
									{
										PhimDangChieu pdc = new PhimDangChieu();
										pdc.TenPhim = Model.MAPHIM;
										pdc.PhongChieu = ttc.MAPHONG;

										pdc.TenRap = ttc.MARAP;
										pdc.NgayChieu = MaHoa.Base64Encode(ttc.NGAYCHIEU.ToString().Substring(0,9));
										pdc.GioChieu = ttc.THOIGIANCHIEU;
										pdc.MaThongTinChieu = ttc.MATHONGTINCHIEU;

										<a class="btn-suatchieu d-inline-flex" href="@Url.Action("Booking", "QKTCinema", new
										                                             {
											                                   
											                                             infoId = pdc.MaThongTinChieu
										                                             })">
											<p style="font-size: 10px; font-weight: bold;">@ttc.PHONG.LOAIPHONG.TENLOAIPHONG</p> @ttc.THOIGIANCHIEU
										</a>
				

									}
								}
							</div>
						</div>
					}
				}
			}
		}
	</div>
</div>
</body>
