@model MovieTheater1.Models.VOUCHER

@{
    ViewBag.Title = "ChiTietKhuyenMai";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}


<body>
<div class="row ">
	<div class="col-md-8 col-12 pt-2 pl-lg-4">
		<h3> Chi tiết </h3>
		<div>
			@Model.TENVOUCHER
		</div>
		<div>
			@Html.Raw(Model.NOIDUNG)
		</div>
		<div class="row d-flex justify-content-center align-items-center">
			<img  src="@Url.Content("~/Content/Images/300x450xkhuyenmai/" + Model.ANHDAIDIEN)" img/>
		</div>
		<div>
			@Html.Raw(Model.GHICHU)
		</div>
	</div>
	<div class="col-md-4 pt-2 ">
		<h3>Đặt vé nhanh </h3>
		<div class=" d-none d-sm-block" style="border: 1px solid gray">
			@Html.Action("_Partial_DatVeNhanh", "QKTCinema")
		</div>
		<div class="d-none d-sm-block pt-4">
			<h3>
				Phim đang chiếu
			</h3>

			<div class="row">
				@Html.Action("_PartialPhim_KhuyenMai", "QKTCinema")
			</div>

			<div class="row d-flex justify-content-end align-items-end">
				<div class="col-auto"><button class="btn btn-xemthem">Xem thêm <i class="fas fa-arrow-right"></i></button></div>
			</div>
		</div>
	</div>
</div>
</body>