@using System.Globalization
@using MovieTheater1.Models
@model List<VOUCHER>
@{
	ViewBag.Title = "SuKien";
	Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<body>

<div class="container">
	<br/>
	<div class="row">
		<div class=" col-md-8 col-sm-8 col-12">

			<div class="row d-flex justify-content-start ">

				<h3> Khuyến mãi mới </h3>
			</div>

			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-md-4 col-sm-6 col-6" style="padding-top: 1em;">
						<a href="@Url.Action("ChiTietKhuyenMai", "QKTCinema", new {id=item.MAVOUCHER})">
							<div class="container-for-overlay">
								<img class="image w-100 " src="@Url.Content("~/Content/Images/300x450xkhuyenmai/" + item.ANHDAIDIEN )" img />


								<div class="middle  d-none d-xl-block d-lg-block">

									<div class="text-inside ">
										<p class="voucher-title"> @item.TENVOUCHER</p>
										@Html.Raw(@item.NOIDUNG)
									</div>

									<div class="row d-flex justify-content-center align-items-center ">
										<button href="href="@Url.Action("ChiTietKhuyenMai", "QKTCinema", new {id=item.MAVOUCHER})"" class="btn btn-chitiet "> CHI TIẾT</button>
									</div>

								</div>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-12">
			<br/>
			<div class=" d-none d-sm-block" style="border: 1px solid gray">
				<div class="text-center"> ĐẶT VÉ NHANH</div>
				@Html.Action("_Partial_DatVeNhanh", "QKTCinema")
			</div>
			<br/>

			<div class="d-none d-sm-block">
				<h3>
					Phim đang chiếu
				</h3>

				<div class="row">
					@Html.Action("_PartialPhim_KhuyenMai", "QKTCinema")
				</div>

				<div class="row d-flex justify-content-end align-items-end">
					<div class="col-auto"><button class="btn btn-xemthem">Xem thêm <i class="fas fa-arrow-right"></i></button></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
