
@using CaptchaMvc.HtmlHelpers
@using MovieTheater1.Models
@model THANHVIEN
@{
    
    ViewBag.Title = Model.HOTEN;
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}



<body>
    <h3>
        Thông tin thành viên
    </h3>

    <div class="row">
        <div class="col-md-5 col-12">
            <div class="form-group">
                <label class="control-label" for="hoten">Họ tên:</label>
                <div class="w-100">
                    <input type="text" class="form-control " disabled value="@Model.HOTEN" id="hoten" name="hotenkh" required placeholder="Họ tên">@ViewData["Loi1"]
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="username">Tên đăng nhập:</label>
                <div class="w-100">
                    <input type="text" class="form-control w-100" disabled value="@Model.username" id="username" name="TenDN" required placeholder="Tên đăng nhập">@ViewData["Loi2"]
                </div>
            </div>
            <div class="form-group">
                <label class="control-label " for="ngaysinh">Ngày sinh:</label>
                <div class="w-100">
                    <input class="form-control w-100" disabled id="ngaysinh" value="@Model.NGAYSINH" name="Ngaysinh">
                </div>
            </div>
        </div>

        <div class="col-md-5 col-12">
            <div class="form-group">
                <label class="control-label " for="email">Email:</label>
                <div class="w-100">
                    <input type="email" class="form-control w-100" disabled id="email" value="@Model.EMAIL" name="email" placeholder="Địa chỉ mail">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label " for="dienthoai">Số điện thoại:</label>
                <div class="">
                    <input type="tel" class="form-control w-100" disabled id="dienthoai" value="@Model.SODT" name="Dienthoai" placeholder="Số điện thoại">
                </div>
            </div>

            <div class="form-group">
                <label>Quốc gia:</label>
                <div class="">
                    <input type="tel" class="form-control w-100" disabled id="" value="@Model.QUOCGIA.TENQUOCGIA" placeholder="Quốc gia">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-12">
            <button  href=@Url.Action("ChinhSuaThongTin", "NguoiDung", new {id=@Model.MATV}) class="btn btn-edit" >Chỉnh sửa thông tin cá nhân </button>
        </div>
        <div class="col-md-5 col-12">
            <a href="@Url.Action("DoiMatKhau", "NguoiDung")" class="btn btn-outline-warning"> Đổi mật khẩu </a>
        </div>

    </div>
</body>