@using Microsoft.Ajax.Utilities
@using MovieTheater1.Controllers

@{
	ViewBag.Title = "Trang chủ";
	Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}
<style>
	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		filter:alpha(opacity=70);
		-moz-opacity:0.7;
		-khtml-opacity: 0.7;
		opacity: 0.7;
		z-index: 100;
		display: none;
	}
</style>


<script>
    $(document).ready(function(){
        var overlay = jQuery('<div id="overlay"></div>');
        $('.close').click(function(){
            overlay.appendTo(document.body).remove();
            return false;
        });

        $('.x').click(function(){
            overlay.appendTo(document.body).remove();
            return false;
        });

        $('.click').click(function(){
            overlay.show();
            overlay.appendTo(document.body);
            return false;
        });
    });
</script>
<body id="my-body">
	<style>
		</style>
	<!--Visible only on lg & xl-->
	<div class="m-0">
		@Html.Action("_PartialCarousel", "QKTCinema")
	</div>

	<div class=" row container-fluid p-0 m-0" >
		<div class="col-md-8 col-12 m-0 p-0">
			<img src="~/Content/Images/c_member--1920x450px--01.jpg" class="d-block w-100" style="height: 100%;" />
		</div>
		<div class="col-md-4 col-12 row p-0 m-0  dvn-border" >
			<div class="col-12 dvn-header">
				Mua vé nhanh
			</div>
			<div class="col-12 p-lg-5">
				@Html.Action("_Partial_DatVeNhanh", "QKTCinema")
			</div>
		</div>
	</div>

	@Html.Action("_PartialPhimShortcut", "QKTCinema")

	<br />

	<div class="container-fluid" style="position: relative;">
		<h3>Tin khuyến mãi </h3>
		<div class="row col-md-12 col-12" style="font-size: 1em;">
			@Html.Action("_PartialKhuyenMai", "QKTCinema")
		</div>
		<div class="row d-flex justify-content-end align-items-end">
			<div class="col-auto"><a href="@Url.Action("SuKien", "QKTCinema")" class="btn btn-xemthem">Xem thêm <i class="fas fa-arrow-right"></i></a></div>
		</div>
	</div>
	<div class="container">
		<h3>Về chúng tôi </h3>
		<br />
        <div class="content-text">
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><b><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">QTK Cinema</span></span></b><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">&nbsp;là một trong những công ty tư nhân đầu tiên về điện ảnh được thành lập từ năm 2003, đã khẳng định thương hiệu là 1 trong 10 địa điểm vui chơi giải trí được yêu thích nhất. Ngoài hệ thống rạp chiếu phim hiện đại, thu hút hàng triệu lượt người đến xem, <b>QTK Cinema</b> còn hấp dẫn khán giả bởi không khí thân thiện cũng như chất lượng dịch vụ hàng đầu.</span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">Đến website <i>QTK Cinema</i>, quý khách sẽ được cập nhật nhanh chóng các <i>phim hay nhất</i> <i>phim mới nhất</i> đang chiếu hoặc sắp chiếu. <i>Lịch chiếu</i> tại mọi hệ thống <i>rạp chiếu phim</i> của <b>QTK Cinema</b> cũng được cập nhật đầy đủ hàng ngày hàng giờ trên<i> trang chủ</i>. </span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">Mua vé tại <b>QTK Cinema </b>dễ dàng chỉ sau vài thao tác vô cùng đơn giản. Để mua vé, hãy vào tab Mua vé. Quý khách có thể chọn Mua vé theo phim, theo rạp, theo ngày tùy cách nào tiện lợi nhất cho bản thân.Sau đó, tiến hành mua vé theo các bước hướng dẫn. Chỉ trong vài phút, quý khách sẽ nhận được tin nhắn và email phản hồi <i>Mua vé thành công</i> của <b>QTK Cinema</b>. Quý khách có thể dùng tin nhắn lấy vé tại quầy vé của <b>QTK Cinema</b> hoặc quét mã QR để một bước vào rạp mà không cần tốn thêm bất kỳ công đoạn nào nữa.</span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">Nếu bạn đã chọn được <i>phim hay</i> để xem, hãy Mua vé cực nhanh bằng box <i>Mua Vé Nhanh</i> ngay từ <i>Trang Chủ</i>. Chỉ cần một phút, tin nhắn và email phản hồi của <b>QTK Cinema </b>sẽ gửi ngay vào điện thoại và hộp mail của bạn. </span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">Nếu chưa quyết định sẽ xem <i>phim mới</i> nào, hãy tham khảo các bộ <i>phim hay</i> trong mục <i>Phim Đang Chiếu</i> cũng như <i>Phim Sắp Chiếu</i>tại <i>rạp chiếu phim</i> bằng cách vào mục <i>Bình Luận Phim</i> ở <i>>Góc Điện Ảnh </i>để đọc những bài bình luận chân thật nhất, tham khảo và cân nhắc. Sau đó, quý khách hãy Mua vé bằng box <i>Mua Vé Nhanh</i> ngay ở đầu trang để chọn được suất chiếu và chỗ ngồi vừa ý nhất. &nbsp;</span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><b><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">QTK Cinema</span></span></b><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;"> luôn có những chương trình <i>khuyến mãi</i>, <i>ưu đãi</i>, quà tặng vô cùng hấp dẫn như <i>giảm giá</i> vé, tặng vé xem phim miễn phí, tặng Combo, tặng quà phim… &nbsp;dành cho quý khách. </span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">Trang web <i>QTK Cinema</i> còn có mục <i>Góc Điện Ảnh</i> - sở hữu lượng dữ liệu về phim, diễn viên và đạo diễn, giúp quý khách dễ dàng chọn được phim mình yêu thích và nâng cao kiến thức về điện ảnh của bản thân. Ngoài ra, vào mỗi tháng, <strong>QTK Cinema</strong> cũng giới thiệu các <i>phim sắp chiếu</i> hot nhất trong mục <i>Phim Hay Tháng</i> để quý khách sớm có sự tính toán.</span></span></span></span></p>
            <p style="margin-top: 0in; margin-right: 0in; margin-bottom: 10.0pt; margin-left: 0in; text-align: justify"><span style="font-size: 12pt"><span style="font-family: &quot;Times New Roman&quot;, &quot;serif&quot;"><span style="font-size: 10.5pt"><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">Hiện nay, <strong><span style="font-family: &quot;Cambria&quot;, &quot;serif&quot;">QTK Cinema</span></strong> đang ngày càng phát triển hơn nữa với các chương trình đặc sắc, các khuyến mãi hấp dẫn, đem đến cho khán giả những bộ phim bom tấn của thế giới và Việt Nam nhanh chóng và sớm nhất.</span></span></span></span></p>
        </div>
	</div>
</body>
