<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <link href="~/Content/image-overlay.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Footer.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()
    <div class="container-fluid bg-dark">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; font-family: 'Comic Sans MS',cursive,sans-serif; ">


            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%">
                <ul class="navbar-nav ">

                    <li class="nav-item">
                        <div>
                            <form class="form-inline my-2 my-lg-0 ">

                                <div class="input-group" style="border: 1px solid lightblue; border-radius:15px;">
                                    <button class="btn btn-outline-success my-2 my-sm-0 "
                                            type="submit" style="border:none;">
                                        <i class="fa fa-search"></i>

                                    </button>

                                    <input class="form-control my-2 my-sm-0" type="text" placeholder="Search"
                                           aria-label="Search" style="border: none; border-radius:0px 15px 15px 0px;">

                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="nav-item " style="margin-top: -0.5em;">
                        <div class="nav-link">
                            <a href="#" class="btn btn-primary btn-light" style="border-radius:20px; margin-right: 0.5em;  "><span class="fa fa-sign-in"></span> Đăng nhập</a>
                        </div>
                    </li>

                    <li class="nav-item " style="margin-top: -0.5em;">
                        <div class="nav-link">
                            <a href="#" class="btn btn-primary btn-light" style="border-radius:20px; "><span class="fa fa-download"></span> Đăng kí</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>



        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; font-family: 'Comic Sans MS',cursive,sans-serif; ">
            <a class="navbar-brand" href="#" style="font-size: 3rem;">Cinema</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-search"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mx-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            MUA VÉ <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            PHIM
                        </a>


                        <ul class="dropdown-menu bg-dark">
                            <li><button class="btn btn-dark" style="width:100%;"> Phim đang chiếu</button></li>

                            <li class="container-table-image d-none d-md-block" style="width:45rem;">
                                <table cellpadding="10">
                                    <tr>
                                        <td>
                                            <img class="w-100" src="~/Content/images/thumbs/featured/featured-beetle.jpg" />
                                        </td>
                                        <td>
                                            <img class="w-100" src="~/Content/images/thumbs/featured/featured-beetle.jpg" />
                                        </td>
                                        <td>
                                            <img class="w-100" src="~/Content/images/thumbs/featured/featured-guitarman.jpg" />
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li> <button class="btn btn-dark " style="width:100%;"> Phim sắp chiếu</button></li>

                            <li class="container-table-image d-none d-md-block" style="width:45rem;">
                                <table cellpadding="10">
                                    <tr>
                                        <td>
                                            <img class="w-100" src="~/Content/images/thumbs/featured/featured-beetle.jpg" />
                                        </td>
                                        <td>
                                            <img class="w-100" src="~/Content/images/thumbs/featured/featured-beetle.jpg" />
                                        </td>
                                        <td>
                                            <img class="w-100" src="~/Content/images/thumbs/featured/featured-guitarman.jpg" />
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>


                    </li>

                    


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            GÓC ĐIỆN ẢNH
                        </a>

                        <ul class="dropdown-menu bg-dark">
                            <li>

                                @Html.ActionLink("Thể loại phim", "TheLoaiPhim", null, new { @class = "nav-link" })
                            </li>
                            <li>

                                @Html.ActionLink("Diễn viên", "DienVien", null, new { @class = "nav-link" })
                            </li>
                            <li>
                                <a class="nav-link"> Blog điện ảnh </a>
                                @Html.ActionLink("Blog diện ảnh", "BlogDienAnh", null, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">SỰ KIỆN</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            RẠP/GIÁ VÉ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            HỖ TRỢ
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            THÀNH VIÊN
                        </a>
                    </li>


                </ul>

            </div>
        </nav>



        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img class="d-block w-100" src="~/Content/images/thumbs/featured/featured-beetle.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Tên phim 1</h5>
                        <p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling. </p>
                        <a style=" border-radius: 20px; margin-left: -1rem; " href="#" class="btn btn-primary btn-xem-trailer button-big"><span class="glyphicon glyphicon-eye-open"></span> XEM TRAILER</a>
                        <a style="border-radius: 20px; margin-left: 1rem; " href="#" class="btn btn-primary btn-dat-ve button-big"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>

                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/images/thumbs/featured/featured-guitarman.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Tên phim 2</h5>
                        <p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling. </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/images/thumbs/featured/featured-watch.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Tên phim 3</h5>
                        <p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling. </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br />
        <h1 style="text-align: center; font-family: Comic Sans MS, cursive, sans-serif; font-weight: 200;" class="text-light">Đặt vé ngay</h1>
        <br />


        <div>
            <div class="d-flex justify-content-around align-items-center" style=" width:100%; border-radius:30px; ">

                <div class="input-group mb-4" style=" z-index:100; width: 30%;  ">
                    <input class="form-control " type="text" placeholder="Chọn ngày " id="date_datepicker" style="  font-size: 25px;border-radius: 30px 0px 0px 30px ; ">
                    <div class="input-group-append">
                        <span class="fa fa-calendar input-group-text " aria-hidden="true" style="  font-size: 25px;border-radius: 0px 30px 30px 0px ; "></span>
                    </div>
                </div>

                <script>
                    $("#date_datepicker").datepicker();
                </script>

                <select class="browser-default custom-select mb-4" id="select" style="width: 30%; font-size: 25px; border-radius:30px; ">
                    <option value="" disabled="" selected="">Chọn phim</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>


            <div class="d-flex justify-content-around align-items-center" style=" width:100%;">
                <select class="browser-default custom-select mb-4" id="select" style="width: 30% ; font-size: 25px; border-radius:30px; ">
                    <option value="" disabled="" selected="">Chọn rạp</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>

                <select class="browser-default custom-select mb-4" id="select" style="width: 30%;  font-size: 25px; border-radius:30px; ">
                    <option value="" disabled="" selected="">Chọn suất chiếu</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>


        <div class=" d-flex justify-content-around align-items-center">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" style=" border-radius: 20px 0 0px 0px; font-family: 'Comic Sans MS'; font-size: 1.1rem; " data-toggle="tab" href="#home">Phim đang chiếu</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style=" border-radius: 0px 20px 0px 0px; font-family: 'Comic Sans MS'; font-size: 1.1rem; " data-toggle="tab" href="#menu1">Phim sắp chiếu</a>
                </li>

            </ul>
        </div>


        <div class="tab-content">
            <div class="tab-pane active container" id="menu1">
                <div class="tab-element">
                    <div style="">
                        <div class="container" style="">
                            <div class="row" style="">
                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">
                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 1</div>
                                </div>

                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-guitarman.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 2</div>


                                </div>
                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-beetle.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 3</div>

                                </div>

                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="tab-pane container" id="home">
                <div class="tab-element">
                    <div style="">
                        <div class="container" style="">
                            <div class="row" style="">
                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-beetle.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 3</div>

                                </div>

                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 4</div>
                                </div>
                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">
                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 1</div>
                                </div>

                                <div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

                                    <div class="container-for-overlay">
                                        <img src="~/Content/images/thumbs/featured/featured-guitarman.jpg" alt="Avatar" class="image" style="width:100%">
                                        <div class="middle">
                                            <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
                                        </div>
                                    </div>
                                    <div class="text-center text-uppercase text-light font-weight-bold">Tên phim 2</div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Select all tabs
            $('.nav-tabs a').click(function () {
                $(this).tab('show');
            })

            // Select tab by name
            $('.nav-tabs a[href="#home"]').tab('show')

            // Select first tab
            $('.nav-tabs a:first').tab('show')

            // Select last tab
            $('.nav-tabs a:last').tab('show')

            // Select fourth tab (zero-based)
            $('.nav-tabs li:eq(3) a').tab('show')
        </script>


        <br />
        <h1 style="text-align: center; font-family: Comic Sans MS, cursive, sans-serif; font-weight: 200;" class="text-light">Chương trình khuyến mãi</h1>
        <br />

        <div class="container" style="border: 1px dashed gray;">

            <div class="row" style="">
                <div class="col-sm-3" style="padding: 3% 2.5% 1% 2.5% ">

                    <div class="card">

                        <div class="container-for-overlay">
                            <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> CHI TIẾT</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Đồng giá 2 tỷ/vé</h5>
                            <p class="card-text"> Chào mừng ngày nhà giàu  </p>
                            <a href="#" class="btn btn-primary">Xem thêm</a>
                        </div>
                    </div>

                </div>


                <div class="col-sm-3" style="padding: 3% 2.5% 1% 2.5% ">


                    <div class="card">

                        <div class="container-for-overlay">
                            <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> CHI TIẾT</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Đồng giá 2 tỷ/vé</h5>
                            <p class="card-text"> Chào mừng ngày nhà giàu  </p>
                            <a href="#" class="btn btn-primary">Xem thêm</a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3" style="padding: 3% 2.5% 1% 2.5% ">


                    <div class="card">

                        <div class="container-for-overlay">
                            <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> CHI TIẾT</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Đồng giá 2 tỷ/vé</h5>
                            <p class="card-text"> Chào mừng ngày nhà giàu  </p>
                            <a href="#" class="btn btn-primary">Xem thêm</a>
                        </div>
                    </div>

                </div>


                <div class="col-sm-3" style="padding: 3% 2.5% 1% 2.5% ">


                    <div class="card">

                        <div class="container-for-overlay">
                            <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> CHI TIẾT</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Đồng giá 2 tỷ/vé</h5>
                            <p class="card-text"> Chào mừng ngày nhà giàu  </p>
                            <a href="#" class="btn btn-primary">Xem thêm</a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3" style="padding: 3% 2.5% 1% 2.5% ">


                    <div class="card">

                        <div class="container-for-overlay">
                            <img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> CHI TIẾT</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Đồng giá 2 tỷ/vé</h5>
                            <p class="card-text"> Chào mừng ngày nhà giàu  </p>
                            <a href="#" class="btn btn-primary">Xem thêm</a>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <br />
        <h1 style="text-align: center; font-family: Comic Sans MS, cursive, sans-serif; font-weight: 200;" class="text-light">Về chúng tôi</h1>
        <br />

        <p class="text-light">
            <font size="10" color="red"> <b>S</b></font> o by colonel hearted ferrars. Draw from upon here gone add one. He in sportsman household otherwise it perceived instantly. Is inquiry no he several excited am. Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she.

            Examine she brother prudent add day ham. Far stairs now coming bed oppose hunted become his. You zealously departure had procuring suspicion. Books whose front would purse if be do decay. Quitting you way formerly disposed perceive ladyship are. Common turned boy direct and yet.

            He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arise along to. Parlors waiting so against me no. Wishing calling are warrant settled was luckily. Express besides it present if at an opinion visitor.

            Is he staying arrival address earnest. To preference considered it themselves inquietude collecting estimating. View park for why gay knew face. Next than near to four so hand. Times so do he downs me would. Witty abode party her found quiet law. They door four bed fail now have.
        </p>


        <section id="footer">
            <div class="container-fluid bg-dark">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
        ./Footer
    </div>









</body>
</html>
