@model MovieTheater1.Models.LoginViewModel

@{
	ViewBag.Title = "Đăng nhập";
	Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<!DOCTYPE html>




<body style="background: rgb(233, 237, 241)">
    @if (Session["DoiPass"] != null)
    {
        <p> Bạn vừa đổi mật khẩu, vui lòng đăng nhập lại</p>
    }
    else
    {
        <p class="text-center"> Đăng nhập để tận hưởng các 'tính năng' của hệ thống nhé <i class="fas fa-grin-beam-sweat"></i> </p>
    }
    <div class="row mt-5">
        <div class="col-md-4 col-12"> </div>

        <div class=" col-md-4 col-12" style="background: white">

            <h2 style="text-align: center">Đăng nhập</h2>

            <form method="post" class="d-flex flex-column">
                @using (Html.BeginForm("DangNhap", "NguoiDung"))
                {
                    @Html.ValidationSummary(true)
                    <table class="login-box login-row">
                        <tr>

                            <td colspan="2"> <input class="w-100" type="text" name="Tendangnhap" placeholder="Tên đăng nhập">@ViewData["Loi1"]</td>
                        </tr>
                        <tr>

                            <td colspan="2"> <input class="w-100" type="password" name="Matkhau" placeholder="Nhập mật khẩu">@ViewData["Loi2"]</td>
                        </tr>
                        <tr> <td colspan="2"> <input class="w-100 login__signup" type="submit" name="" value="Đăng nhập"></td>
                        <tr> <td style="color: red;"> @ViewBag.Thongbao</td></tr>
                    </table>

                    <p class="text-center">Bạn chưa có tài khoản? &nbsp;<a class="signup-text" href="@Url.Action("DangKi", "NguoiDung")">Đăng ký</a></p>
                }

            </form>
        </div>

        <div class="col-md-4 col-12"> </div>
    </div>
</body>
