

@using MovieTheater1.Models
@model List<THANHVIEN>
@{
    ViewBag.Title = "QuanLyThanhVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <body>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Quản lý thành viên
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Họ và tên</th>
                                    <th>Giới tính</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Loại thành viên</th>
                                    <th>Quốc gia</th>
                                    <th>Username</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.MATV</td>
                                        <td>@item.HOTEN</td>
                                        <td>@item.GIOITINH</td>
                                        <td>@item.SODT</td>
                                        <td>@item.EMAIL</td>
                                        <td>@item.LOAITHANHVIEN.TENLOAITV</td>
                                        <td>@item.QUOCGIA.TENQUOCGIA</td>
                                        <td>username chưa có </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

